<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
    <title>Account made!</title>
  </head>
  <body>
    <p>Welcome {{OwO.User_name}}<br>
      Your ID is {{OwO.User_ID}}, you will use your ID to login so keep it safe!<br>
    <a href="/">Go back</a></p>
  </body>
</html>
