<html>
  <head>
    <title>Notes</title>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <p>Hello, {{OwO.User_name}}<br>
      <a href="/logout/">Signout</a><br>
      <a href="/note/">Make a note</a><br>
      <a href="/view/">View notes</a><br>
      {% if OwO.User_mod == True %}
      <a href="/mod/">Mod panel</a><br>
      {% endif %}
    </p>
  </body>
</html>
