<html>
  <head>
    <title>Login!</title>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <p>Login!</p>
    <form action="/log/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
