<html>
  <head>
    <title>Mod Panel</title>
    <style>
      body {
      text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Mod pannel</h1>
    <form action="/mods/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
