<html>
  <head>
    <style>
      body {
      text-align: center;
      }
    </style>
    <title>Make a note</title>
  </head>
  <body>
    <form action="/notes/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>

  
