<html>
  <head>
    <title>signup</title>
    <style>
      body {
      text-align: center
      }
    </style>
  </head>
  <body>
    <h1>signup</h1>
    <form action="/create/" method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
