<html>
  <title>View notes</title>
  <style>
    body {
    text-align: center;
    }
  </style>
  <body>
    <h3>Notes for {{OwO.User_name}}</h3>
    <a href="/">Go back</a>
    {% if note_list %}
    {% for Note in note_list %}
    <p style="border-bottom-style:solid;"><br>{{Note.Note_name}}<br>{% autoescape off %} {{Note.Note_text}} {% endautoescape %}</p>
    {% endfor %}
    {% else %}
    <p>No notes</p>
    {% endif %}
  </body>
</html>
